@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700,900&subset=cyrillic');

body {
    margin: 0;
    padding: 0;
    line-height: 1.44em;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.container {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.news {

}

.news-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.news-img img {
    max-width: 100%;
}
.news-zag {
    font-weight: 100;
    font-size: 36px;
    margin-top: 35px;
    margin-bottom: 15px;
    line-height: 1em;
}
.news-anons {
    font-size: 16px;
}
.news-anons p {
    margin: 0;
}

.news-readmore {
    text-align: right;
}

.news-readmore a {
    color: #1A4CFF;
}
.top-nav {
    padding: 10px;
    height: 68px;
    border: 1px solid red;
    position: relative;
}
.burger {
    width: 48px;
    height: 48px;
    border: #333333 1px solid;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.burger span {
    height: 2px;
    background-color: #333333;
}
.main-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: white;
    border: 1px solid #333333;
    position: absolute;
    top: 65px;
    right: 10px;
    width: 120px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
}
.main-menu.active {
    display: block;
}







@media only screen and (min-width: 481px) {
    .container {
        max-width: 480px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .news-card {
        flex-direction: row;
    }
    .news-img, .news-text {
        flex-grow: 1;
    }
    .news-img {
        width: 40%;
    }
    .news-text {
        width: 60%;
        padding-left: 20px;
    }
    .news-zag {
        margin-top: 0;
    }
}
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 980px;
    }
    .burger {
        display: none;
    }
    .main-menu, .main-menu.active  {
        position: relative;
        top: 0;
        right: 0;
        width: auto;
        display: flex !important;
        box-shadow: 0 0 0 #000;
        border: 0 none;
    }
    .main-menu li {
        margin: 0 10px;
    }
    .news-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .news-img {
        width: 30%;
    }
    .news-text {
        width: 70%;
    }
    .news-zag {
        font-size: 24px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1150px) {
    .container {
        max-width: 1200px;
    }

}